<h1>Editing <%= @character.name %>'s Contract: <%= @contract.name %></h1>
 
<% form_for ([@character,@character_contract], :url => character_contract_path(@character, @character_contract), :html => {:method => :put}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update Character Contract" %>
<% end %>

<%= link_to 'Show', character_contract_path(@character, @character_contract) %> |
<%= link_to 'Back', character_contracts_path(@character) %>

