<h1>New skill for <%= @character.name %></h1>
 
<% form_for ([@character,@character_skill], :url => character_skills_path(@character), :html => {:method => :post}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Add Character Skill" %>
<% end %>
<%= link_to '[Back to List of Characters]', characters_path %>
