<%= form.label :name %>
<%= form.text_field :name %><br />
<br />

<%= form.label :title %>
<%= form.text_field :title %><br />
<br />

<%= form.label :seeming %>
<%= form.collection_select :seeming_id, Seeming.find(:all), :id, :name %><br />
<br />

<%= form.label :kith %>
<%= form.collection_select :kith_id, Kith.find(:all), :id, :name %><br />
<br />

<%= form.label :second_kith %>
<%= form.collection_select :second_kith_id, Kith.find(:all), :id, :name %><br />
<br />

<%= form.label :virtue %>
<%= form.collection_select :virtue_id, Virtue.find(:all), :id, :name %><br />
<br />

<%= form.label :vice %>
<%= form.collection_select :vice_id, Vice.find(:all), :id, :name %><br />
<br />

<%= form.label :court %>
<%= form.collection_select :court_id, Court.find(:all), :id, :name %><br />
<br />

<table>
<% Character::AttributeList.each do |attribute_row| %>
  <tr>
  <% attribute_row.each do |attribute| %>
    <td><%= form.label( attribute.to_s.titlecase ) %> </td><td> <%= form.select attribute, (1..10).to_a.map {|n| [n,n] } %> </td>
  <% end %>
  </tr>
<% end %>
</table>
<br />

<% other_numerical_attributes = [:wyrd,:clarity] %>
<% other_numerical_attributes.each do |attribute| %>
  <%= form.label attribute %>
  <%= form.select attribute, (1..10).to_a.map {|n| [n,n] } %><br />
  <br />
<% end %>
<p style="display:none;">
  <%= form.label :size %>
  <%= form.hidden_field :size, :value => '5' %><br />
  <br />
<p>

<div id="all_skills" style="float:left;">
<h2>Skills</h2>
<% Character::MaxSkills.times do |n| %>
  <p class="item">
  <%= form.label "Skill ##{n+1}" %>
  <%= select_tag "character[skills_to_add][]", options_for_select( [['','']] + Skill.find(:all).map {|s| [s.name,s.id] } ), :class => 'autofill-skill-dots' %>
  <%= select_tag "character[skill_dots_to_add][]", options_for_select( [['','']] ), :class => 'dots' %>
  <%= text_field_tag "character[skill_specialties_to_add][]", nil, :maxlength => 50, :value => nil %>
  </p>
<% end %>
</div>
<div id="all_merits">
<h2>Merits</h2>
<% Character::MaxMerits.times do |n| %>
  <p class="item">
  <%= form.label "Merit ##{n+1}" %>
  <%= select_tag "character[merits_to_add][]", options_for_select( [['','']] + Merit.find(:all).map {|s| [s.name,s.id] } ), :class => 'autofill-merit-dots' %>
  <%= select_tag "character[merit_dots_to_add][]", options_for_select( [['','']]), :class => 'dots' %>
  <%= text_field_tag "character[merit_specialties_to_add][]", nil, :maxlength => 50, :value => nil %>
  </p>
<% end %>
</div>
<div id="all_contracts">
<h2>Contracts</h2>
<% Character::MaxContracts.times do |n| %>
  <p class="item">
  <%= form.label "Contract ##{n+1}" %>
  <%= select_tag "character[contracts_to_add][]", options_for_select( [['','']] + Contract.find(:all).map {|s| [s.name,s.id] } ), :class => 'autofill-contract-dots' %>
  <%= select_tag "character[contract_dots_to_add][]", options_for_select( [['','']]), :class => 'dots' %>
  <%= text_field_tag "character[contract_specialties_to_add][]", nil, :maxlength => 50, :value => nil %>
  </p>
<% end %>
</div>

